<!-- To run go to file and click open with browser(chrome) the inspect console to see console.log functions - file:///C:/Users/rylet/Attempt2/pyscriptAttempt1/PyHTML.html -->

{% extends "direct/directory.html" %}
{% block content %}
<head>

<title>Account</title>

<style>

    body{
        margin: 0px;
        background-color: white;
        color: black;
    }

    .darkButton {
        background-color: black;
    }

    main{
        margin: 20px;
    }
    .darkButton {
        background-color: black;
        color: #FFFFFF;

    }
</style>

</head>
<body>
<main>
<h1>This is the account page</h1>

</main>
<script>

</script>

</body>
{% endblock%}