
{% extends "direct/directory.html" %}
{% include 'direct/directscroll.html' %}
{% block content %}
<head>
<title>Gold</title>
</head>
<body>

<div class="content">
    <h1>You have entered the FrontYard</h1>
        <h2> whore</h2>
</div>
<script>

</script>
</body>
<style>
body{
    margin: 0px;
    background-color: white;
    color: black;
}
.content{
    margin-top: 50px;
    padding-left: 20px;
}
.darkButton {
    background-color: black;
    color: #FFFFFF;

}

main{
    margin: 20px;
}
</style>

{% endblock %}

