
    {% extends "direct/directory.html" %}
    {% block content %}
<head>
    <title>
        Settings
    </title>

</head>

    
<style>
body {
    background-color: white;
    color: black;
    font-size: 20px;
    margin: 0px;
}
main{
    margin: 20px;
}
.darkButton {
    background-color: black;
    color: white;

}
.buttonbody{
    float:right;
    background-color: white;
    position: top;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 12px;
    border: 1px solid black;
}

</style>

<body>
    <button class="buttonbody" onclick="darkfun()">Dark/Light Mode</button>
<main>
    
<div class="main">
    <h1> The settings page</h1>
    <h3> Other sub settings go here</h3>
</div>


<script>
function darkfun() {
   var element = document.body;
   element.classList.toggle("darkButton");

   if (element.classList.contains("darkButton")){
    localStorage.setItem('darkMode', 'enabled');
   }
   else{
    localStorage.setItem('darkMode', 'disabled');
   }
}

</script>

</body>
{% endblock%}

